body {
  background-color: #006d77;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  justify-content: space-between;
}
.header-logo > img {
  display: flex;
  padding-left: 5%;
  width: 20%;
  min-width: 100px;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}
.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin: 20px;
  width: 2.5%;
  min-width: 30px;
}
.navbar > a > svg {
  fill: #e5e7eb;
}

.container {
  position: relative;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
#particles-js canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sec1 {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #006d77;
  color: #f9faf8;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-inline: auto;
  width: min(90%, 90.5rem);
}
.info-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 3;
}
.main-title {
  font-size: 45px;
  color: #f9faf8;
  font-weight: bolder;
}
.main-subtext {
  margin-top: -35px;
  font-size: 16px;
  color: #e5e7eb;
}
.sign-up {
  margin-top: 20px;
  z-index: 100;
}
.sign-up button {
  background-color: #83c5be;
  border: 2px solid #83c5be;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 5px 22px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.sign-up button:hover {
  background-color: white;
  color: rgb(85, 85, 85);
  border: 2px solid white;
}
.info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}
.info-img > img {
  width: 70%;
  height: auto;
}
