body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
}
.header-logo>img{
    display: flex;
    padding-left: 5%;
    width: 20%;
    min-width: 100px;
    height: auto;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}
.navbar a{
    color: #E5E7EB;
    text-decoration: none;
    margin: 20px;
    width: 2.5%;
    min-width: 30px;
}


.sec1{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #006D77;
    color: #F9FAF8;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}
.info-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.main-title{
    font-size: 45px;
    color: #F9FAF8;
    font-weight: bolder;
}
.main-subtext{
    margin-top: -35px;
    font-size: 16px;
    color: #E5E7EB; 
}
.sign-up{
    margin-top: 20px;
}
.sign-up button{
    background-color: #83C5BE;
    border: 2px solid #83C5BE;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 5px 22px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.sign-up button:hover{
    background-color: white;
    color: rgb(85, 85, 85);
    border: 2px solid white;
}
.info-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}
.info-img > img{
    width: 70%;
    height: auto;
}