body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url("background inverted.png");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow-x: hidden;
}

.header {
  display: flex;
  background-color: #000000;
  color: #f9faf8;
  align-items: center;
  justify-content: space-between;
}
.header-logo > a > img {
  display: flex;
  padding-left: 5%;
  width: 20%;
  min-width: 100px;
  height: auto;
}
@media (min-width: 55em) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
  }
  .navbar > a {
    color: #e5e7eb;
    text-decoration: none;
    padding-inline: min(3vw, 1rem);
    width: min(3%, 30px);
  }
  .navbar > a > svg {
    fill: #e5e7eb;
  }

  .navbar > a > p {
    display: none;
  }
  .mobile-nav-toggle {
    display: none;
  }
}

@media (max-width: 55em) {
  .navbar {
    display: flex;
    z-index: 500;
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0% 0% / 0.75);
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .navbar {
      background: hsl(0 0% 0% / 0.5);
      backdrop-filter: blur(1rem);
    }
  }

  .navbar[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    margin-right: 5%;
    background-image: url("../../resources/hamburger-menu.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    z-index: 9999;
    width: 10%;
    max-width: 2em;
    min-width: 1.8rem;
    aspect-ratio: 1;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../resources/x.svg");
  }

  .navbar > a {
    color: #e5e7eb;
    text-decoration: none;
    margin: 1vw;
    padding-block: 5vh;
  }
  .navbar > a > svg {
    fill: #e5e7eb;
    width: 30px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  flex-wrap: nowrap;
  color: #1f2937;
  width: min(80%, 80rem);
}

.image > a > img {
  margin-block: 1rem;
  width: 90%;
  height: auto;
}
