body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
}
.header-logo > a > img{
    display: flex;
    padding-left: 5%;
    width: 20%;
    min-width: 100px;
    height: auto;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}
.navbar a{
    color: #E5E7EB;
    text-decoration: none;
    margin: 20px;
    width: 2.5%;
    min-width: 30px;
}
.sec2{
    display: flex;
    flex-direction: column;
    color: #1F2937;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title{
    background-color: #edf6f9;
    font-size: 10vw;
    font-weight: bolder;
    color: #006d77;
    font-family: Montserrat;
    text-decoration: underline;
}

@media screen and (min-width: 400px){
    .title{
        font-size: 40px;
    }
}

.img-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.box{
    flex: 1 0 21%;
}
.box img{
    border: 3px solid #3b82f6;
    border-radius: 12px;
    width: 30vw;
    height: 30vw;
}

@media screen and (min-width: 1000px){
    .box img{
        border: 3px solid #3b82f6;
        border-radius: 12px;
        width: 10vw;
        height: 10vw;
    }
}

.box p{
    font-size: 16px;
    color: #006d77;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    background-color: #edf6f9;
}


.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta{
    display: flex;
    margin: 7% 10% 7% 10%;
    padding: 0% 5% 0% 5%;
    border-radius: 8px;
    align-items: center;
    background-color: #3b82f6;
}
.text{
    text-align: left;
    color: #F9FAF8;
    margin: 0% 20% 0% 0%;
}
.title2{
    font-size: 5vw;
    font-weight: bold;
}
@media screen and (min-width: 400px){
    .title2{
        font-size: 28px;
    }
}

.cta-button > button{
    font-size: 16px;
    font-weight: bold;
    background-color: #3b82f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
    transition-duration: 0.4s;
}
.cta-button > button:hover{
    background-color: #F9FAF8;
    color: #3b82f6;
}